<section fxLayout="column" fxFlexAlign="stretch">
  <div fxFlexAlign="center">
    <p>Welcome to the Angular Repositories List</p>
  </div>
  <p>In this application we are going to work with:</p>
  <mat-tab-group>
    <mat-tab label="Contributors">
       <p>All Contributors</p>
       <nz-table #sortTable [nzData]="contributors" nzTableLayout="fixed">
        <thead>
          <tr>
            <th *ngFor="let column of listOfColumn" [nzSortFn]="column.compare" [nzSortPriority]="column.priority">{{ column.title }}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of sortTable.data">
            <td>{{ data.login }}</td>
            <td>{{ data.contributions }}</td>
            <td>{{ data.detail.public_repos }}</td>
            <td>{{ data.detail.followers }}</td>
            <td>{{ data.detail.public_gists }}</td>
            <td><a href="url">Profile</a> </td>
          </tr>
        </tbody>
      </nz-table>
      </mat-tab>
  </mat-tab-group>
</section>
