<section fxLayout="column" fxFlexAlign="stretch">
  <div fxFlexAlign="center">
    <p>Welcome to the Angular Repositories List</p>
  </div>
  <p>In this application we are going to work with:</p>
  <mat-tab-group>
    <mat-tab label="Contributors">
       <p>All Contributors</p>
       <nz-table #sortTable [nzData]="contributors" nzTableLayout="fixed">
        <thead>
          <tr>
            <th *ngFor="let column of listOfColumn" [nzSortFn]="column.compare" [nzSortPriority]="column.priority">{{ column.title }}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of sortTable.data">
            <td>{{ data.login }}</td>
            <td>{{ data.contributions }}</td>
            <td>{{ data.detail.public_repos }}</td>
            <td>{{ data.detail.followers }}</td>
            <td>{{ data.detail.public_gists }}</td>
            <td><button nz-button nzType="primary" (click)="showModal(data.detail)">Profile</button> </td>
          </tr>
        </tbody>
      </nz-table>
      </mat-tab>
  </mat-tab-group>
</section>
<nz-modal [(nzVisible)]="isVisible" nzTitle="Custom Modal Title" (nzOnCancel)="handleCancel()">
  <div *ngIf="detail">
    <img class="img img-circle" src="{{detail.avatar_url}}">
    <span for="name">Full Name: </span> <span id="name">{{detail.name}}</span>
    <span for="username">User Name: </span> <span id="username">{{detail.login}}</span>
    <span for="company">company: </span> <span id="company">{{detail.company}}</span>
    <span for="followers">Followers: </span> <span id="followers">{{detail.followers}}</span>
  </div>
  <div *nzModalFooter>

    <button nz-button nzType="default" (click)="handleCancel()">Close</button>
  </div>
</nz-modal>
